<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<div id="root"></div>