@import url("https://fonts.googleapis.com/css?family=Montserrat:300");

$backgroundColor: #fff;
$transitionTiming: 0.5s;
$mobileBreakpoint: 600px;

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  font-family: "Montserrat";
  font-weight: 300;
  text-transform: uppercase;
}

a {
  color: #000;
  text-decoration: none;
  transition: color $transitionTiming ease;

  &:active,
  &:hover {
    color: #aaa;
  }
}

#profileHead {
  position: absolute;
  margin: 0 auto;
  top: 5rem;
  left: 0;
  right: 0;
  width: 20rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  background-color: $backgroundColor;

  h1,
  h4 {
    text-align: left;
  }
}

@media only screen and (max-width: $mobileBreakpoint) {
  #profileHead {
    width: 80vw;
    font-size: 4vw;
  }
}

.address {
  display: flex;
  align-items: center;

  img {
    padding-right: 1rem;
  }
}

#portfolio {
  ul {
    padding: 0;
  }
  li {
    display: inline;
  }

  img {
    border-radius: 99rem;
    border: 0.2rem solid #eee;
    padding: 0.2rem;
    margin-right: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;

    @media only screen and (max-width: $mobileBreakpoint) {
      img {
        width: 10rem;
        height: 10rem;
      }
    }

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
      transform: translate(-0.5rem, -0.5rem);
    }

    transition: all $transitionTiming ease;
  }
}
