@import url("https://fonts.googleapis.com/css?family=Montserrat:300");
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  font-family: "Montserrat";
  font-weight: 300;
  text-transform: uppercase;
}

a {
  color: #000;
  text-decoration: none;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

a:active, a:hover {
  color: #aaa;
}

#profileHead {
  position: absolute;
  margin: 0 auto;
  top: 5rem;
  left: 0;
  right: 0;
  width: 20rem;
  padding: 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

#profileHead h1,
#profileHead h4 {
  text-align: left;
}

@media only screen and (max-width: 600px) {
  #profileHead {
    width: 80vw;
    font-size: 4vw;
  }
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address img {
  padding-right: 1rem;
}

#portfolio ul {
  padding: 0;
}

#portfolio li {
  display: inline;
}

#portfolio img {
  border-radius: 99rem;
  border: 0.2rem solid #eee;
  padding: 0.2rem;
  margin-right: 0.5rem;
  width: 3.5rem;
  height: 3.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 600px) {
  #portfolio img img {
    width: 10rem;
    height: 10rem;
  }
}

#portfolio img:hover, #portfolio img:focus, #portfolio img:active {
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-0.5rem, -0.5rem);
          transform: translate(-0.5rem, -0.5rem);
}
/*# sourceMappingURL=main.css.map */